.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
  padding: 16px;
  overflow: auto;

  font-family: "Roboto", sans-serif;
}

.loadingText {
  font-size: 18px;
}

.spotsContainer {
  display: flex;
  gap: 12px;
}

.selectedSpot {
  border-color: #007bff;
  background-color: #e7f1ff;
  &:hover {
    background-color: #d0e4ff;
  }
  &:active {
    background-color: #b8d7ff;
  }
}

.infoLabel {
  font-weight: 600;
  span {
    font-weight: 400;
  }
}
.connectedLabel {
  color: green;
}
.disconnectedLabel {
  color: red;
}

.dashboard {
  display: flex;
  gap: 12px;
}
